/* This stylesheet is used to style the public view of the widget. */

.artvision-class div {
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.artvision-class img {
    margin: 5px;
    height: 150px;
    box-shadow: 3px 3px 2px grey;
}

.artvision-class img:hover {
    box-shadow: none;
    cursor: pointer;
}

